@{
    bool.TryParse(ViewData["error_email"]?.ToString()!, out bool error_email);
}

@* @using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post))
{
    <div class="help-box">
        <img src="/media/static-images/asideEnvelope.svg" alt="">
        <div>
            <div class="h5">How can we help?</div>
            <div class="text">Online support 24/7, we are here to help you</div>
            <label for="email" class="input-box">
                <input type="text" class="email @((error_email) ? "error shake" : null)" name="email" id="email" placeholder="Email address" value=@ViewData["email"]>
                <button type="submit"><i class="fa-solid fa-envelope"></i></button>
            </label>
        </div>
    </div>
} *@

<div class="help-box">
    <img src="/media/static-images/asideEnvelope.svg" alt="">
    <div class="fieldset">
        <div class="h5 legend">How can we help?</div>
        <div class="text">Online support 24/7, we are here to help you</div>
        
        @using (Html.BeginUmbracoForm("HandleAsideSubmit", "ContactSurface", FormMethod.Post))
        {
            <div class="label">
                <div class="input-box">
                    @if (ViewData["error_email"] != null)
                    {
                        <input type="text" class="email @((bool)ViewData["error_email"]! ? "error shake" : null)" name="emailaside" id="emailaside" placeholder="Email address" value="@TempData["email"]">
                    }
                    else
                    {
                        <input type="text" class="email" name="emailaside" id="emailaside" placeholder="Email address">
                    }
                    <button type="submit"><i class="fa-solid fa-envelope"></i></button>
                </div>
            </div>
            
            if (TempData["success"] != null)
            {
                if ((bool)TempData["success"]!)
                {
                    <div class="text status-message shake">@TempData["status_message"]</div>
                }
                else
                {
                    <div class="text status-message shake error">@TempData["status_message"]</div>
                }
            }
        }
    </div>
</div>