@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var sectionTitle = Model?.Content.Value<string>("sectionTitle");
    var sectionText = Model?.Content.Value<string>("sectionText");
    var sectionBackground = Model?.Content.Value<IPublishedContent>("sectionBackground")?.Url();
    
    var buttonText = Model?.Content.Value<string>("buttonText");
    var buttonHref = Model?.Content.Value<string>("buttonHref");
}

<section class="w-full hero">
    <img src="@sectionBackground" alt="" class="hero-bg">
    <div class="w-full d-flex center container">
        <div class="w-max box">
            <div class="w-half hero-content">
                <h1 class="ext-title">@sectionTitle</h1>
                <p>@sectionText</p>
                <a href="@buttonHref" class="btn-theme">@buttonText</a>
            </div>
        </div>            
    </div>
</section>