@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var sectionLabel = Model?.Content.Value<string>("sectionLabel");
    var sectionTitle = Model?.Content.Value<string>("sectionTitle");

    var shownItems = 4;

    var selection = Umbraco.Content(Guid.Parse("97f83b66-cdcc-4782-b07c-d378e1adbd38"))!
    .ChildrenOfType("projectItemTemplate")!
    .Where(x => x.IsVisible())
    .Take(shownItems);
}

<section class="our-projects">
    <div class="w-full d-flex center container">
        <div class="w-full d-flex column box">
            <div class="hs w-max">
                <div class="label uppercase">@sectionLabel</div>
                <h2>@sectionTitle</h2>
            </div>
            <div class="carousel w-full">
                @if (selection != null)
                {
                    @foreach (var item in selection) 
                    {
                        var title = item?.Value<string>("pageTitle") ?? "";
                        if (!string.IsNullOrEmpty(title) && title.Length > 30) { title = title?[0..Math.Min(title.Length, 30)] + "...";}
                        var category = item?.Value<string>("pageCategory") ?? "";
                        var thumbnailImage = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";

                        <a href="@item.Url()">
                            <div class="card">
                                <img src="@thumbnailImage" alt="@title" class="card-img">
                                <div class="bottom">
                                    <div class="card-heading subt-1">@title</div>
                                    <div class="card-text">@category</div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</section>