@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var sectionTitle = Model?.Content.Value<string>("sectionTitle");
    var sectionTitleDifferentColor = Model?.Content.Value<string>("sectionTitleDifferentColor");
    var sectionText = Model?.Content.Value<string>("sectionText");

    var sectionBackground = Model?.Content.Value<IPublishedContent>("sectionBackground")?.Url();
    var sectionImage = Model?.Content.Value<IPublishedContent>("sectionImage")?.Url();

    var buttonText = Model?.Content.Value<string>("buttonText");
    var buttonHref = Model?.Content.Value<string>("buttonHref");
}

<section class="our-story">
    <div class="w-full d-flex center container">
        <div class="w-max box">
            <img src="@sectionBackground" alt="" class="bg-img">
            <div class="content">
                <div class="hs">
                    <div class="h2">@sectionTitle</div>
                    <div class="h2 color">@sectionTitleDifferentColor</div>
                </div>
                <p class="">@sectionText</p>
                <a href="@buttonHref" class="btn-theme">@buttonText</a>
                <img src="@sectionImage" alt="" class="crew-img">
            </div>
        </div>
    </div>
</section>